.main{
    display: flex;
    gap: 100px;
}
.main p{
    font-size: 12px;
    width: 600px;
    text-align: center;
}
.first{
    height: 700px;
    width: 510px;
    margin-left:70px;
    margin-top: 40px;
    font-family:sans-serif;;
}
.first h1{
    font-family:sans-serif;
    font-style: normal;
    padding: 40px 0px 30px;
}
.first button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    border: 0px;
    margin-left: 25%;
    cursor: pointer;
}

.first button:hover{
    background-color: black;
    color: #61dafb;
}

.outsider{
    background-color: aqua;
    height: 200px;
    width: 500px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 180px;
    margin-top: -210px;
    z-index: 1;
    background-color: rgba(238, 238, 255, 0.506); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px);
}

.testing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

input::placeholder {
    color: #999; /* Placeholder text color */
    font-style: italic; /* Optional: Italicize placeholder text */
    font-size: 14px;
}

.input-group label{
    margin-bottom: 5px;
    font-size: 14px;
}


#linker{
    text-decoration: none;
    color: inherit;
}

#linker:hover{
    text-decoration: underline;
}

#type{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

